.eventBlock {
    max-height: fit-content;
    margin-bottom: 2px;
  }
  .eventTitle {
    text-align: center;
  }
  .posCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центрирование по центру */
  }
  
  .posCard .card {
    width: 18rem;
    margin: 0 10px; /* Отступы между карточками */
    margin-bottom: 35px;
    background: linear-gradient(to bottom right, #1D58C0, #151718); /* Градиент от синего к темно-серому */
    color: #ffffff; /* Белый текст */
    border-radius: 15px; /* Скругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Тень */
    overflow: hidden; /* Скрытие элементов, выходящих за границы */
    height: 350px; /* Высота карточки */
  }
  
  .posCard .card-body {
    width: 100%;
    text-align: center; /* Центрирование текста */
    height: 300px;
    background: linear-gradient(to bottom right, #1D58C0, #151718); /* Градиент от синего к темно-серому */
    color: white;
  }
  
  .btn-container1 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%); /* Центрирование кнопки */
  }
  
  .posCard .btnSettingEvents, .btn-container1 .btnSettingEvents {
    width: 100%; /* Кнопка на всю ширину */
    background-color: white; /* Фон кнопки */
    color: black; /* Цвет текста кнопки */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Скругление кнопки */
    margin-bottom: 10px; /* Отступ снизу */
  }
  
  .posCard .btnSettingEvents:hover {
    background-color: #1D58C0; /* Фон при наведении */
  }
  
  .eventCardImg {
    width: 100px;
    border-radius: 50%; /* Круглое изображение */
    padding-top: 5px; /* Отступ сверху */
  }
  
  .eventHeadContainer {
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
    justify-content: left; /* Выравнивание содержимого по левому краю */
    height: 100px; /* Высота контейнера */
    padding-left: 5px; /* Отступ слева */
  }
  
  .eventHead {
    font-size: 31px; /* Размер шрифта заголовка */
  }
  
  .eventBody {
    text-align: left; /* Текст выравнивается по левому краю */
    padding-left: 10px; /* Отступ слева */
  }
  
  .eventBody h2, .eventBody h4 {
    margin: 0; /* Убираем отступы у заголовков */
  }
  
  .colorTime {
    color: #7EA8F9; /* Светло-голубой цвет времени */
  }
  