
.names{
    font-family: 'Inter', sans-serif;
    color: #EADF00;
    font-weight: 500;
    font-size: 25px;
}

.list-unstyled1{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

.footer1{
    background-color: #44004A;
}

.footer-text-row1{
    background-color: #44004A;
    color:white;
}
.footer-col1 ul {
    padding-left: 0;
    list-style: none;
    text-align: left;
  }

  .footer-col1 ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }