.centeredcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25% ; /* Добавляет автоматический маржин по горизонтали для дополнительного центрирования */
    padding: 20px; /* Добавляет паддинг вокруг содержимого, предотвращая прилипание к краям */
    box-sizing: border-box; /* Убеждаетесь, что паддинги и бордеры включены в высоту и ширину */
   
}
