.centeredcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    padding: 20px; /* Добавляет паддинг вокруг содержимого, предотвращая прилипание к краям */
    box-sizing: border-box; /* Убеждаетесь, что паддинги и бордеры включены в высоту и ширину */
   margin-left: 35%;
}
